<% title "Career Path" %>

<p>
  <strong>Name:</strong>
  <%= @career_path.name %>
</p>

<p>
  <%= link_to "Edit", edit_career_path_path(@career_path) %> |
  <%= link_to "Destroy", @career_path, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", career_paths_path %>
</p>
