<% title "Origin Path Stage" %>

<p>
  <strong>Name:</strong>
  <%= @origin_path_stage.name %>
</p>

<p>
  <%= link_to "Edit", edit_origin_path_stage_path(@origin_path_stage) %> |
  <%= link_to "Destroy", @origin_path_stage, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", origin_path_stages_path %>
</p>
